<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .button {
        margin-top: 10px;
        padding: 5px;
        background-color: rgba(14, 14, 53, 0.753);
        color:rgba(255, 255, 255, 0.911)
    }
</style>
<body>
    <img src="https://ci3.googleusercontent.com/meips/ADKq_NZYerdNxsYEhoC5oyvsbj_UbMWgDSqnZrytwIOobNTuypYXWUDrLqHFuVGmIVq3EXdlzBiV7kcl7e6AMauApx6bLWxKV2oFRauCS8-LhDoycBHjfX6rLA=s0-d-e1-ft#https://opinionuniverse.com/s_assets/img/opinionuniverse_logo.png" style="max-width:200px" class="CToWUd" data-bit="iit">
    <h3 style="font-size:20px;margin:0;color:#000">{{name}}</h3>
    <p>Turn your opinions into rewards with our exciting payout offers! 🎉.</p>
    <table border="1" cellspacing="0" cellpadding="8" style="border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <th>Description:</th>
                <td>{{desc}}</td>
            </tr>
            <tr>
                <th>Device Type:</th>
                <td>{{device}}</td>
            </tr>
            <tr>
                <th>Payouts:</th>
                <td>{{totalPoints}} Points</td>
            </tr>
        </tbody>
    </table>
    <a href="{{url}}"> <button style="margin-top: 10px; padding: 10px; background-color: rgb(39, 56, 114); color: rgba(255, 255, 255, 0.849); border: none; border-radius: 2px;">
    Complete Offer </button></a>
   

    <p>Best regards,</p>
    <p>The Opinion Universe Team</p>
</body>
</html>